{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <h2>Mon profil</h2>

    <div class="profileForm">

    <section class="editAvatar">

        <img src="{{ asset('img/profile-picture/' ~ app.user.profilePictureName) }}" alt="avatar" class="avatar"/>

        {{ form_start(uploadAvatarForm, {'action': path('profile_edit_avatar', {'id': app.user.id}), 'method': 'POST', 'enctype': "multipart/form-data"}) }}

        {{ form_widget(uploadAvatarForm) }}

        <section class="flexline flexspaceeven">
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </section>

        {{ form_end(uploadAvatarForm) }}
    </section>

    <section>

    {{ form_start(registrationForm) }}

    {{ form_widget(registrationForm) }}

        <section class="flexline flexspaceeven">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{{ path('main_accueil') }}" title="Accueil"><button type="button" class="btn btn-secondary">Retour</button></a>
        </section>

    {{ form_end(registrationForm) }}

    </section>

    </div>



{% endblock %}