{% extends 'base.html.twig' %}

{% block title %} Accueil | {{ parent() }} {% endblock %}

{% block body %}

    {# ------------ SEARCH FILTERS --------------------- #}

    <div class="padding">
    {{ form_start(searchForm) }}
        {% if form_errors(searchForm.minDate) or form_errors(searchForm.maxDate) %}
            <div class="flexline alert-danger my-alert-warning flexspaceeven" role="alert">
                {{ form_errors(searchForm.minDate) }}{{ form_errors(searchForm.maxDate) }}
            </div>
        {% endif %}
        <div class="flexblock flexspaceeven">
            <p>Filtrer les sorties</p>
            <div class="flexline">{{ form_label(searchForm.campus) }}{{ form_widget(searchForm.campus) }}</div>
            <div class="flexline">
                {{ form_label(searchForm.minDate) }}{{ form_widget(searchForm.minDate) }}
                {{ form_label(searchForm.maxDate) }}{{ form_widget(searchForm.maxDate) }}
            </div>
                <div class="dropdown flexline {% if not app.user %} disabled hidden{% endif %}">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="dropdownFilters" data-bs-toggle="dropdown" aria-expanded="false"
                            >
                        {{ form_label(searchForm.filters) }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownFilters">
                        {% for option in searchForm.filters %}
                            <div class="flexline">{{ form_widget(option) }}{{ form_label(option) }}</div>
                        {% endfor %}
                    </div>
                </div>

            <div class="flexline"><button type="submit" class="btn btn-dark">Rechercher</button></div>
        </div>
    {{ form_end(searchForm) }}
    </div>


    {# ------------------- SORTIES TABLE ----------------------- #}
    <table class="table table-light table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Date Limite Inscription</th>
                <th>Places Disponibles</th>
                <th>Statut</th>
                {% if app.user %} <th>Inscrit.e</th> {% endif %}
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>

        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut | date("d/m/Y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription | date("d/m/Y") }}</td>
                <td>{{ sortie.nbInscriptionsMax - sortie.users | length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                {% if app.user %}
                    <td>
                        {% if sortie in app.user.sorties %}
                            <img src="{{ asset('../public/img/icon/carrevert.png') }}" class="inscriptionDesistement"/>
                        {% else %}
                            <img src="{{ asset('../public/img/icon/carrerouge.jpg') }}" class="inscriptionDesistement"/>
                        {% endif %}
                    </td>
                {% endif %}
                <td><a href="{{ path('profile_user', {'id':sortie.organisateur.id}) }}" title="Visiter le profil">{{ sortie.organisateur.username }}</a></td>
                <td>
                    {% if sortie.etat.libelle is not constant('App\\Entity\\Etat::DONE')
                        and sortie.etat.libelle is not constant('App\\Entity\\Etat::RUNNING')
                        and app.user and app.user.id == sortie.organisateur.id %}
                        {# @TODO ajouter le chemin pour modifier une sortie ICI #}
                        <a href="#" class="table-link">Modifier</a>
                    {% else %}
                        <a href="{{ path('sorties_details', {'id':sortie.id}) }}" class="table-link">Afficher</a>
                    {% endif %}

                    {% if app.user and app.user.id == sortie.organisateur.id %}
                        {% if sortie.etat.libelle is constant('App\\Entity\\Etat::CREATED') %}
                            {# @TODO ajouter le chemin pour publier ICI #}
                            - <a href="#" class="table-link">Publier</a>
                        {% elseif sortie.etat.libelle is not constant('App\\Entity\\Etat::DONE')
                            or sortie.etat.libelle is not constant('App\\Entity\\Etat::RUNNING')%}
                            {# @TODO ajouter le chemin pour annuler une sortie ICI #}
                            {# @TODO filtrer pour sorties passees #}
                            - <a href="#" class="table-link">Annuler</a>
                        {% endif %}
                    {# @TODO ajouter le chemin pour se desinscrire ICI #}
                    {% elseif app.user and sortie in app.user.sorties %}
                        - <a href="{{ path('sorties_desistement', {'id':sortie.id}) }}" class="table-link">Se désister</a>
                    {% endif %}

                    {% if app.user and sortie not in app.user.sorties %}

                    <a href="{{ path('sorties_inscription', {'id':sortie.id}) }}">- Inscription</a>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <nav class="flexline flexspaceeven">
        <ul class='pagination'>
            <li class="page-item">
                <a href="{{ path('main_accueil',
                    { page: page > 1 ? page - 1 : 1, params: params, maxResults: maxResults })
                    }}"
                   title="Page Précédente" class="page-link{{ page == 1 ? ' disabled' : '' }}">
                    Précédente
                </a>
            </li>
            {% for i in 1..maxPages %}
                <li class="page-item">
                    <a href="{{ path('main_accueil', { page: i, params: params, maxResults: maxResults }) }}"
                       class="page-link{{ page == i ? ' active' : ' disabled' }}">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}
            <li class="page-item">
                <a href="{{ path('main_accueil',
                    { page: page < maxPages ? page + 1 : maxPages, params: params, maxResults: maxResults })
                    }}"
                   title="Page Suivante" class="page-link{{ page == maxPages ? ' disabled' : '' }}">
                    Suivante
                </a>
            </li>
        </ul>
    </nav>

    <section class="container">
        <a href="{{ path('sortie_create') }}" title="Créer une sortie"><button class="btn btn-success">Créer une sortie</button></a>
    </section>

{% endblock %}