{% extends 'base.html.twig' %}



{% block title %}Afficher une sortie
{% endblock %}

{% block body %}

    <h1 class="titreAfficherSortie"> {{ sortie.nom | upper }} </h1>



    <table id="afficherSortie">
        <tr>
            <td>
                <p><span>Nom de la sortie : </span></p>
            </td>
            <td>
                <p>{{ sortie.nom }}</p>
            </td>
            <td>
                <p><span>Campus : </span></p>
            </td>
            <td>
                <p> {{ sortie.campus.nom }} </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><span>Date/heure de la sortie : </span></p>
            </td>
            <td>
                <p>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</p>
            </td>
            <td>
                <p><span>Lieu : </span></p>
            </td>
            <td>
                <p> {{ sortie.lieu.nom }} </p>

            </td>
        </tr>
        <tr>
            <td>
                <p> <span>Date limite d'inscription : </span></p>

            </td>
            <td>
                <p>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</p>

            </td>
            <td>
                <p><span>Rue :</span> </p>

            </td>
            <td>
                <p> {{ sortie.lieu.rue }} </p>

            </td>
        </tr>
        <tr>
            <td>
                <p><span></span> Nombre de places: </p>

            </td>
            <td>
                <p>{{ sortie.nbInscriptionsMax }}</p>

            </td>
            <td>
                <p><span>Code postal : </span></p>

            </td>
            <td>
                <p> {{ sortie.lieu.ville.codePostal }} </p>

            </td>
        </tr>
        <tr>
            <td>
                <p><span>Durée : </span></p>

            </td>
            <td>
                <p>{{ sortie.duree }} minutes</p>

            </td>
            <td>
                <p><span>Latitude : </span></p>
<span></span>
            </td>
            <td>
                <p> {{ sortie.lieu.latitude }} </p>

            </td>
        </tr>
        <tr>
            <td>
                <p><span>Description et infos :</span> </p>

            </td>
            <td>
                <p>{{ sortie.infosSortie }}</p>

            </td>
            <td>
                <p><span>Longitude : </span></p>

            </td>
            <td>
                <p> {{ sortie.lieu.longitude }} </p>

            </td>
        </tr>
    </table>


<h4 id="titreListeParticipants">Liste des participants :</h4>

    <table id="listeParticipants">
        <tr>
            <th>
                PSEUDO
            </th>
            <th>
                NOM
            </th>
        </tr>
        {% for user in usersRegistered %}
        <tr>
            <td>
                {{ user.username }}
            </td>
            <td>
                {{ user.nom }}
            </td>
        </tr>
        {% endfor %}
    </table>



{% endblock %}