{% extends 'base.html.twig' %}



{% block title %}Afficher une sortie
{% endblock %}

{% block body %}



    <table id="tableAnnulerSortie">
        <tr>
            <td>Nom de la sortie : </td>
            <td>{{ sortie.nom }}</td>
        </tr>
        <tr>
            <td>Date de la sortie : </td>
            <td>{{ sortie.dateHeureDebut | date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td>Campus : </td>
            <td>{{ sortie.campus.nom }}</td>
        </tr>
        <tr>
            <td>Lieu : </td>
            <td>{{ sortie.lieu.nom }}</td>
        </tr>
        <tr>
            <td>Motif</td>
            {{ form_start(motifForm) }}
            <td>{{ form_widget(motifForm) }}</td>

        </tr>
    </table>



    <div class="boutonsAnnulerSorties">
        <a href="{{ path('sorties_annuler', {'id':sortie.id})  }}" id="boutonEnregistrerAnnulerSortie"><button class="btn btn-success">Enregistrer</button></a>
        {{ form_end(motifForm) }}
        <a href="{{ path('main_accueil') }}"><button class="btn btn-danger">Annuler</button></a>
    </div>
{% endblock %}