{% extends 'base.html.twig' %}



{% block title %}Afficher une sortie
{% endblock %}

{% block body %}

   <div>
       <div>
    <div class="col1"><p>Nom de la sortie : </p></div><div class="col2"><p>{{ output.nom }}</p></div>
           <div class="col1"><p>Date et heure de la sortie : </p></div><div class="col2"><p>{{ output.nom }}</p></div>
           <div class="col1"><p>Date limite d'inscription : </p></div><div class="col2"><p>{{ output.nom }}</p></div>
           <div class="col1"><p>Nombre de places : </p></div><div class="col2"><p>{{ output.nom }}</p></div>
           <div class="col1"><p>Durée : </p></div><div class="col2"><p>{{ output.nom }}</p></div>
           <div class="col1"><p>Description et infos : </p></div><div class="col2"><p>{{ output.nom }}</p></div>
       </div>

       <div>


       </div>
   </div>


{% endblock %}